@{
    ViewBag.Title = "Home Page";
}
<h1>Welcome to the Task List Organizer!</h1><br />

<h4>Please Sign in Below</h4><br /><br />

<form action="/Home/SignIn" method="post">
    Username: <input type="text" name="UserName" /><br />
    Password: <input type="password" name="Password" /><br />
    <input type="submit" value="Sign In" /><br />
</form>

@*<p><span id="error"></span></p>*@


