
@{
    ViewBag.Title = "NewTaskForm";
}

<h2>NewTaskForm</h2>

<form action="/Home/SaveNewTask" method="post">

    <div class="form-group">
        <label>User Name</label>
        <input type="text" name="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Task Name</label>
        <input type="text" name="TaskName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" name="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label>Due Date</label>
        <input type="text" name="DueDate" class="form-control" />
    </div>
    <div class="form-group">
        <label>Status</label>
        <input type="text" name="Status" class="form-control" />
    </div>

    <div class="form-group">
        <label>Add</label>
        <input type="submit" value="Add" class="form-control" />
    </div>

</form>
