
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

<form action="/Home/RegisterNewUser" method="post">

    Username: <input type="text" name="UserName" /><br />
    Password: <input type="password" name="Password" /><br />
    <input type="submit" value="Register" /><br />



</form>
